<div class="container">
    <div *ngIf="user !==undefined">
        <h3>{{user.name | uppercase}}</h3> 
        <span>Username: {{user.username}}</span>
        <p>Email: <a href="mailto:{{user.email}}">{{user.email}}</a></p>
        <p>City: {{user.address.city}}</p>
        <p>Phone: <a href="tel:{{user.phone}}">{{user.phone}}</a></p>
        <p>Website: <a href="{{user.website}}">{{user.website}}</a></p>
        <p>Company: {{user.company.name}}</p>
        <button (click)="goBack()">Go Back</button>
    </div>

    <div *ngIf="user ==undefined">
        <h1>404 Error! User Not Found!</h1>
        <button routerLink='/'>Home</button>
    </div>
</div>
